h1{
    text-align: center;
    color: royalblue;
}

header{
    align-content: center;
}
header li {
    list-style: none;
}

footer > p {
    text-align: center;
}

picture {
    position: fixed;
    left: 100px;
    right: 0px;
}